<div class="navbar navbar-fixed-top">
	<div class="topNav">
		<div class="" style="margin-left:10px; margin-right: 10px;">
			<div class="alignR">
				<div class="pull-left socialNw">
					<a href="https://twitter.com/" target="_blank"><span class="icon-twitter"></span></a>
					<a href="#"><span class="icon-facebook"></span></a>
					<a href="#"><span class="icon-youtube"></span></a>
					<a href="#"><span class="icon-tumblr"></span></a>
				</div>
				<a href="#" class="active"> <span class="icon-home"></span> Home</a>
				<a href="#"><span class="icon-user"></span> My Account</a>
				<a href="register.html"><span class="icon-edit"></span> Free Register </a>
				<a href="contact.html"><span class="icon-envelope"></span> Contact us</a>
				<a href="cart.html"><span class="icon-shopping-cart"></span> CART</a>
			</div>
		</div>
	</div>
</div>


<div class="navbar" >
	<div class="navbar-inner">
		<div class="container"  style="margin-bottom: 12px;padding-left:10px; padding-right:10px"><br>
			<div class="nav-collapse">
				<form action="#" class="navbar-search pull-left">
					<input type="text" placeholder="Search" class="search-query span2">
				</form>
				<ul class="nav pull-right">
				<a href="">	<span class="icon-lock"></span> Login </a>
				</ul>
			</div>
		</div>
	</div>
</div>