<div class="container">
	<footer class="footer" style="display: -webkit-box">
		<div style="width: 33%">
			<h5>Your Account</h5>
			<a href="#">YOUR ACCOUNT</a><br>
			<a href="#">PERSONAL INFORMATION</a><br>
			<a href="#">ADDRESSES</a><br>
			<a href="#">DISCOUNT</a><br>
			<a href="#">ORDER HISTORY</a><br>
		</div>
		<div style="width: 33%">
			<h5>Information</h5>
			<a href="contact.html">CONTACT</a><br>
			<a href="#">SITEMAP</a><br>
			<a href="#">LEGAL NOTICE</a><br>
			<a href="#">TERMS AND CONDITIONS</a><br>
			<a href="#">ABOUT US</a><br>
		</div>
		<div style="width: 33%">
			<h5>Our Offer</h5>
			<a href="#">NEW PRODUCTS</a> <br>
			<a href="#">TOP SELLERS</a><br>
			<a href="#">SPECIALS</a><br>
			<a href="#">MANUFACTURERS</a><br>
			<a href="#">SUPPLIERS</a> <br/>
		</div>
		<div>
		</div>
	</footer>
</div>

<div class="copyright">
	<div class="container">
		<span>Copyright &copy; 2017<br> INFOGAIN CPQ POC</span>
	</div>
</div>