<!-- product list html-->
<!--
New Products
-->
	<div class="well well-small" style="margin-left: 30px">
	<h3>New Products </h3>
		<div class="row-fluid">
			<ul class="thumbnails">
				<li  class="span4" *ngFor = "let product of productlist" >
					<div class="thumbnail">
                		<a [routerLink]="['/productdetail',product.id]"><img src= "{{ product.imageUrl}}" (click)="getProductDetails(product.Id)" alt="bootstrap-ring"></a>
						<button class=""  title="add to cart">Add to Cart</button>
						<a href="#" class="tag"></a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!--
Featured Products
-->
	<div class="well well-small" style="margin-left: 30px">
	<h3>Featured Products </h3>
		<div class="row-fluid">
			<ul class="thumbnails">
				<li  class="span4" *ngFor = "let product of products" >
					<div class="thumbnail">
                		<a [routerLink]="['/productdetail',product.id]"><img src= "{{ product.imageUrl}}" alt="bootstrap-ring"></a>
						<button class=""  title="add to cart">Add to Cart</button>
						<a href="#" class="tag"></a>
					</div>
				</li>
			</ul>
		</div>
	</div>