<div class="row">
	<div class="well well-small container pull-left " style="width: 120px; height: 200px ; margin-left: 185px">

		<ul>
			<li *ngFor="let item of myMenu | async">
				<a routerLink= {{item.url}} routerLinkActive="active">{{item.name}}</a>
			</li>
		</ul>
	</div>
	<div class= "container">
	<div style="padding-left: 10px">
	<router-outlet></router-outlet>
	</div>
	</div>
</div>

